<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Org:</strong>
    <%= user.org_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

</div>
